<!-- HTML sourced data -->
<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">List Stages</h5>
    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
        <li><a data-action="reload"></a></li>
        <li><a data-action="close"></a></li>
      </ul>
    </div>
  </div>


  <table class="table datatable-html">
    <thead>
    <tr>
      <th>#</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Enseignant</th>
      <th>Hopital</th>
      <th>Service</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stage of stages">
      <td>{{stage.id_Stage}}</td>
      <td><span class="label label-info">{{stage.date_debut}}</span></td>
      <td><span class="label label-info">{{stage.date_fin}}</span></td>
      <td><span class="label label-info">{{stage.id_Enseignant}}</span></td>
      <td><span class="label label-info">{{stage.id_Hopital}}</span></td>
      <td><span class="label label-info">{{stage.id_Service}}</span></td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /HTML sourced data -->
